@import '../../../assets/scss/colors';
.my-class {
padding-top: 10vh;
  .section-1{
    padding-bottom: 10vh;
height: 0vh !important;
  }
  .head-topic {
    margin-top: 15px;
    margin-bottom: 30px!important;
  }
}
