.not-found {
  text-align: center;
  width: 100%;
  img {
    width: 200px;
  }
  label {
    font-size: 15px;
    background: #ffedf7;
    padding: 9px 16px;
    //max-width: 350px;
    //margin: auto;
  }
}
