@import "../../assets/scss/colors.scss";
.main {
  .lecture-intro {
   // background: white;
    
    .container {
     // padding-top: 50px;
     // padding-bottom: 50px;
      padding-right: 50px;
    }
    .text-warning {
      text-align: center;
    }
    .lead-head {
      color: $white;
      
    }
    .about-text{
     // padding: 50%;
margin-right: 50%;

    }
   .class-ctrl {
     color: blue;

   }
    .lead-text {
      //margin-right: 50%;
      padding-right: 0%;
      color: $white;
      text-align: justify; //

      text-align: justify!important;
    }

    .r-img{
      padding-left: 13%;
      align-items: right;
      height: 10%;
    }

.name-row1{
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;

}
.row-2{
  color: white;
}
.name-row2{
  color: white;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;

}

    .card {
      border: 2px solid transparent!important;
      justify-content: center;
      display: flex;
      flex-direction: row;
      position: relative;
      cursor: pointer;
      background: transparent;
  }

    .ori-img {

      max-width: 95%;

      //max-width: 400px;
      width: 85%;
      height: 400px;
      object-fit: contain;
      z-index: 10;
    }

    // .blur-img {
    //   position: absolute;
    //   object-fit: cover;
    //   width: 100%;
    //   -webkit-filter: blur(5px);
    //   filter: brightness(50%) blur(5px);
    //   -webkit-filter: blur(5px) brightness(68%);
    //   filter: blur(5px) brightness(68%);
    //   height: 400px;
    // }
    .blur-img-2 {
      border-radius: 100%;
      width: 287px;
      height: 287px;
      padding: 0%;
     
  
    }
  }
  .head-topic {
    padding-bottom: 25px;
    text-align: center;
  }
  .class-section {
    padding-bottom: 1.2rem!important;
  }
  .m-15-paginate {
    margin-left: 15px!important;
    margin-right: 15px!important;
  }
}
