@import "../../assets/scss/colors";

.slide-show {

  .scrollbar {
    overflow: scroll;
    top: -10vh !important;
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(167, 100, 100, 0.808);
    background: rgba(0, 0, 0, 0.2);
  }

  /* custom colors  */
  .scrollbar-primary::-webkit-scrollbar {
    background-color: #f0e7e7;
  }
  .scrollbar-primary {
    scrollbar-color: #1150b4 #ca2727;
  }
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #235bb4;
  }

  .scroll-list {
    width: 100%;
    max-height: 50px;
  }

  p {
    line-height: 1.2;
  }
  .slideshow-wrapper {
    background: white;
    //box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
    box-shadow: 0 1px 25px rgba(50, 50, 93, 0.1), 0 1px 10px rgba(0, 0, 0, 0.07) !important;
    margin: 10px;
    //margin: 10px 10px 10px 0;
    border-radius: 10px;
  }
  .slick-track {
    //padding-left: 9.5vw !important;
    //padding-right: 10vw !important;
    //width: 100% !important;
  }
  .slideshow-pro-image {
    width: 100%;
    height: 200px;
    zoom: 1.2;
    object-fit: cover;
    border-radius: 10px;
    filter: blur(0px) brightness(70%);

  }
  .slideshow-middle {
    padding: 15px;
    text-align: center;
    min-height: 250px;
  }
  .topic {
    margin-top: 10px;
    text-align: left;
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: bold !important;
    color: #000000;
    //font-family: "Fira Sans", sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .card-control {
    background-color: $classCard-bg;
    border-radius: 5%;

  }
  .card-title {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    // text-decoration: underline;
    color: #6d80a1;
    margin: 0%;
    padding-bottom: 15px !important;

  }

  .day {
    color: #6d80a1;
    font-size: 14px;
    text-align: left;
    padding-left: 0px !important;
    line-height: 0.1rem !important;
  }
  .btn-ctrl {
    padding-top: 5%;
  }
  .next0 {

    padding-top: 15px !important;
    font-size: 14px;
    color: #6d80a1;
    text-align: left !important;
  }
  .next1 {
    font-weight: bold;
    padding-top: 20px;
    font-size: 14px;
    color: #6d80a1;
    text-align: left !important;
  }
  .next2 {

    padding-top: 20px;
    font-size: 14px;
    color: #6d80a1;

  }
  .purchased {
    //background: #f0f9ef;
    .next {
      margin-bottom: 40px !important;
    }
  }
  .btn-neutral {
    font-weight: 500;
    font-size: 15px;
  }
  .name {
    font-size: 14px;
    text-align: left;
    padding-left: 0vw !important;
    padding-right: 0vw !important;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .view-icon {
    font-size: 24px;
    font-weight: bold;
    background: #f06334;
    padding: 8px 13px;
    border-radius: 50px;
    color: white;
    position: absolute;
    top: 210px;
    right: 15px;
    cursor: pointer;
  }
  .amount {
    font-size: 12px;
    background: $amount-bg;
    padding: 5px 12px;
    border-radius: 40px;
    color: #B77B6C;
    position: absolute;
    top: -4px;
    right: 15px;
  }
  .paid-wrapper {
    //background: #c6f7c6;
    color: #008819;
    //font-size: 14px;
    //padding: 2px 5px;
    margin: 0px !important;
    padding: 0.625rem 1.25rem;
    font-size: 15px;
  }
  .inac-btn {
    cursor: not-allowed !important;
    opacity: 0.2 !important;

  }
  @media (max-width: 520px) {
    .slick-track {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }

}
