@import "../../assets/scss/colors";
.comming-soon-text {
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-size: 13px;
  margin-top: 3vh;
  padding: 15px;
  background: #ffe8cb;
  border: 1px solid #fccc81;
  color: #e96704;
}
