@import "../../../../assets//scss//colors.scss";
.publisher-main {
  background: white;

  .publisher-row-one {
    padding-bottom: 0px;
    padding-top: 20px;
  }
  .image-wrapper {
    text-align: center;
  }
  .publisher-image {
    padding-top: 10px;
    height: 120px;
    width: 200px;
    padding-left: 40px !important;
    display: flex;
    align-content: flex-start;
    text-align: left;
    object-fit: cover;
  }
 
  .tab-main {
    padding-left: 20px !important;
    color: $close-color !important;
  }

  .hr-line-one {
    border: 1px solid black;
    padding-bottom: 0px;
  }
  .publisher-col-topic-one {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0px !important;

    font-size: 30px;
  }
  .midle-col {
    border-left: 1px solid rgb(223, 216, 216);
    border-right: 1px solid rgb(223, 216, 216);
  }
  .app-img {
    object-fit: cover;
    height: 150px;
    width: 200x;
  }
  .feedback-paper {
    margin-top: 10px;
  }
  .feedback-img {
    margin-left: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
  }
  .publisher-col-topic-two {
    text-align: left;
    padding-top: none !important;
    font-style: italic;
    padding-left: 20px;
    font-size: 20px;
  }
  .publisher-col-topic {
    text-align: left;
    padding-left: 40px;
    font-size: 20px;
  }
  .publisher-stat-row {
    padding-left: 20px;
    padding-right: 20px;
  }
  .publisher-stats {
    text-align: center;
  }
  .publisher-stats-topic {
    font-size: 20px;
  }
  .publisher-col-number {
    font-size: 25px;
    color: $submit-color;
  }
  .publisher-col-topic-spe {
    color: #d63d41;
  }
  .publisher-col-data {
    padding-left: 20px;
    padding-top: 20px;
  }
  .nav-link {
    color: $submit-color;
  }
  .col-table {
    text-align: center;
  }
  .table-label {
    padding-bottom: 20px !important;
  }
  .table-icon {
    padding-left: 10px;
  }
  .table-data {
    padding-left: 50px;
    display: flex;
    vertical-align: middle;
  }
  .password-change {
    color: $close-color;
    cursor: pointer;
    text-decoration: underline;
  }
}
/* Created By Janitha Prashad Katukenda
 jpk Created on Fri Nov 06 2020
Copyright (c) 2020 Ceyentra TechNologies
APPLAB */